*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 14px;
	background: #0d6efd;
	margin-right: 5px;
	border-radius: 10px;
	transition: all .1s linear;
}

.wrapper a:hover{
	transform: scale(1.2);
}

.popup-banner-block{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(74, 119, 208, 0.43);
}

.popup-banner-body{
	width: 430px;
	height: 300px;
	background: #fff;
	border-radius: 8px;
	text-align: center;
}

.popup-close-item{
	width: 50px;
	height: 50px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	right: 30px;
	top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.popup-close-item i {
	font-size: 28px;
}

.comeback{
	display: none;
	z-index: 100;
}

.supports{
	display: none;
	z-index: 100;
}

.popup-section{
	display: none;
	z-index: 100;
}