*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.modal_camback_1 {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
	font-family: 'Arial', 'Helvetica', sans-serif;
}

.modal_inner_camback {
	position: absolute;
	top: 0;
	background: #FFC44E;
	width: 100%;
	padding: 5px 12px;
}

.modal_inner_text {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	z-index: 10;
	width: 100%;
}

.modal_inner_wrapper {
	position: absolute;
	background: #FFC09F;
	width: 0;
	max-width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	overflow-x: none;
}

.circle_icon {
	background: #FFC09F;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.closed {
	font-size: 14px;
	color: black;
}


/* показывать блоки если ширина меньше 727 пикселей */
@media screen and (max-width: 727px) {
	.modal_camback_1 {
		display: flex;
	}
}